{% extends "base.html" %}
{% block content %}

<h1>{{ poll.question }}</h1>

<div class="results"></div>

<form method="post">
    {% csrf_token %}
    {% for choice in poll.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
    {% endfor %}
    <input type="submit" value="Vote" id="vote" />
</form>

<script type="text/javascript">
    $(document).ready(function() {
        $('#vote').click(create_vote);
    });

    var create_vote = function(e) {
        e.preventDefault()
        var value = $("form input[name='choice']:checked").val();
        var data = { choice: value };
        var args = { type:"POST", url:"/polls/{{ poll.id }}/vote/", data:data, complete:create_vote_complete };
        $.ajax(args);
    };

    var create_vote_complete = function(res, status) {
        if (status == "success") {
            $(".results").html(res.responseText);
        }
    }

    $.ajaxSetup( {
            data: { csrfmiddlewaretoken: '{{csrf_token}}' },
        });
</script>

{% endblock %}