{% extends "base.html" %}

{% block content %}

{% include "polls/poll_list.html" %}

<strong>Create a new poll</strong>
<form action="{% url 'polls:index' %}" method="post">
{% csrf_token %}
    <div>Question: <input type="text" name="question" /></div>
    <div>Choices: <textarea name="choices"></textarea></div>
    <input type="submit" value="Create new poll" id="new" />
</form>

<script type="text/javascript">
    $(document).ready(function() {
        $(new).click(create_poll);
    });

    // Async HTTP request to create a new poll on the server
    create_poll = function (e) {
        e.preventDefault()
        var question = $("form input[name='question']:text").val();
        var choices = $("form input[name='choices']:text").val();

        if ((question != "") && (choices != "")) {
            var data = { question: question, choices: choices };
            var args = { type: "POST", url: "/polls/new", data: data, complete: new_poll_complete };
            $.ajax(args);
        }
        return false;
    };

    // Callback from the Ajax query - display results / error msg
    var new_poll_complete = function(res, status) {
        if (status == "success") {
            $(".poll_list").text(res.responseText)
        }
        else {
            $(".message").text(res.responseText)
        }
    }

    // Used in order to keep django's CSRF protection
    $.ajaxSetup( {
            data: { csrfmiddlewaretoken: '{{csrf_token}}' }
        });

{% endblock %}