{% extends "base.html" %}

{% block content %}
{% include "polls/poll_list.html" %}
{% load poll_extras %}

<div class="inner_container">
    <div class="message"></div>
    <strong>Create a new poll</strong>
    <form method="post">
    {% csrf_token %}
        <div>Question:</div><input type="text" name="question" />
        <div>Choices:</div>
            {% for i in 3|get_range %}
                <div><input type="text" name="choice{{ i }}"></div>
            {% endfor %}
        <br><input type="submit" value="Create new poll" id="new" />
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('#new').click(create_poll);
    });

    // Async HTTP request to create a new poll on the server
    create_poll = function (e) {
        e.preventDefault()
        var question = $("form input[name='question']:text").val();
        var choices = $("form input[name='choice0']:text").val();

        if ((question != "") && (choices != "")) {
            var data = { question: question, choices: choices };
            var args = { type: "POST", url: "/polls/new", data: data, complete: new_poll_complete };
            $.ajax(args);
        }
    };

    // Callback from the Ajax query - display results / error msg
    var new_poll_complete = function(res, status) {
        console.log("TEST");
        if (status == "success") {
            $(".poll_list_outer").html(res.responseText)
        }
        else {
            $(".message").html(res.responseText)
        }
    }

    // Used in order to keep django's CSRF protection
    $.ajaxSetup( {
            data: { csrfmiddlewaretoken: '{{csrf_token}}' }
        });

    </script>

{% endblock %}