{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
    <h1>{{ poll.question }}</h1>

    <div class="menu"><a href="/polls/"> Back to polls list</a></div>
    <br />

    <div class="results">
    {% if voted %}
        {% include "polls/poll_detail_results.html" %}
    {% endif %}
    </div>
    <div class="poll_form">
    {% if not voted %}
        {% include "polls/poll_detail_form.html" %}
    {% endif %}
    </div>

    <script type="text/javascript">
        jQuery.data(document.body, "poll_id", "{{ poll.id }}");
        $.ajaxSetup( {data: { csrfmiddlewaretoken: '{{csrf_token}}' }});
    </script>
    <script type="text/javascript" src="{% static 'polls/vote.js' %}"></script>

{% endblock %}