li a {
    color: darkblue;
}
body {
    background-color: #5A388C;
    padding: 20px;
    font-family: arial;
}
input[type="text"] {
    border: solid 1px #9E7570;
    width: 300px;
    background-color: #ebe1f7;
}
textarea {
    border: solid 1px #9E7570;
    width: 300px;
    background-color: #ebe1f7;
}
.logo {
    color: #d0c7db;
}
.container {
    background-color: #c9c9c3;
    border: solid 1px #9E7570;
    padding: 10px;
}

.inner_container {
    background-color: #edede8;
    border: solid 1px #9E7570;
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
}

.message {
    font-weight: bold;
}

.popup {
    background-color: #9E7570;
    color: #FFFFFF;
    border: 1px solid #5A388C;
    border-radius: 6px;
    width: 450px;
    height: 45px;
    padding: 3px;
    margin-bottom: 10px;
}