{% load staticfiles %}
<html>
    <head>
        <title>{% block title %}Purple Polls{% endblock %}</title>
        <script type="text/javascript" src="/media/jquery.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
    </head>
    <body>
        <h1 class="logo">Purple Polls</h1>
        <div class="container">
            <strong><div class="message"></div></strong>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>